<!-- Projects Section -->
<section id="tomatoes" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
      	<%= image_tag("tomatoes.jpg", :alt => "", :class => 'img-fluid mb-3 mb-lg-0') %>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Tomato season 2019</h4>
          <p class="text-black-50 mb-0">This year I am growing a range of heirloom tomatoes. These include both full size and cherry tomatoes, in a number of different colours.</p>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
      	<%= image_tag("cherry-tomatoes.jpg", :alt => "", :class => 'img-fluid') %>
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white-lg">Cherry tomatoes</h4>
              <p class="mb-0 text-white-med">Tommy Toe is a popular heirloom variety, and if you want to grow the 'classic' red cherry tomato then Tommy Toe is an excellent choice. It produces small, tasty red fruit much like the tomatoes you see in the picture. 
              	<br>Another cherry tomato I am growing this year is the Black Cherry tomato, which produces small dark fruit. This is the first year I will have tried growing Black Cherry tomatoes, so I'm eager to see how they turn out!</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <%= image_tag("fullsize-tomatoes.jpg", :alt => "", :class => 'img-fluid') %>
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white-lg">Full sized tomatoes</h4>
              <p class="mb-0 text-white-med">This year I am growing six varieties of full sized tomatoes. To start, I have Santorini and Rosella Crimson - these both bear red fruit. I have grown Rosella Crimson in previous years and found it to have a beautiful, rich flavour.
              	<br>Next we have two yellow varieties, Wherekowai and Wapsipinicon Peach. Wherekowai is a dwarf variety, and the deep yellow fruit often has swirls of red; these swirls are present the whole way through the fruit, making it very attractive when cut open. Wapsipinicon Peach, on the other hand, is quite a pale yellow. The variety earned its name due to the fruit's slightly furry skin! Don't be put off though, the fruit is very tasty.
              	<br> Finally, we have tomatoes whose fruit is neither red nor yellow. Nyagous is a Russian heirloom variety, with purple-black fruit. The fruit is firm and sweet, with a clean acidic finish. Leicester Jones, on the other hand, has fruit that is very low in acidity. The variety was bred by a Tasmanian naturopath, so is very well suited to growing conditions in Tasmania.
              	</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section-custom text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">About this website</h2>
        <p class="text-white-50">This website was built in Ruby on Rails. It uses the <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale</a> Bootstrap theme, which was created by Start Bootstrap.<br>The theme is open source, and you can use it for any purpose, personal or commercial.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="column-half">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Location</h4>
            <hr class="my-4">
            <div class="small text-black-50">Thomastown, Victoria, Australia</div>
          </div>
        </div>
      </div>

      <div class="column-half">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="mailto:jenniferanne@live.com.au">jenniferanne@live.com.au</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="social d-flex justify-content-center">
      <!--<a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>-->
      <a href="https://github.com/jenniferanne1991" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</section>